// 12
// @mixin headerFont() {
//     font-weight: 700;
//     color: darkcyan; 
//     font-size: 50px;
// }

// 14
@mixin headerFont($fontSize, $color) {
    font-weight: 700; 
    color: $color; 
    font-size: $fontSize; 
}